doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Детальная страница тарифа
    body
        .content
            a(href="tariff.html").back
                |Выбор тарифа
            .content__list
                .card.card--main
                    .card__title
                        |Тариф "Вода"
                    .card__content
                        .card__price
                            |Период оплаты - 12 месяцев
                            br
                            |600 Р/мес
                        .card__wrap-text    
                            p.card__text Разовый платеж - 5400 Р
                            p.card__text Со счета спишется - 5400 Р
                        .card__wrap-text
                            p.card__text.card__text--gray Вступит в силу - сегодня
                            p.card__text.card__text--gray Активно до - 10.01.2017
                    .card__footer
                        button.card__btn
                            |Выбрать
