doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Список тарифов
    body
        .content
            .card
                .card__title
                    |тариф "земля"
                a(href="tariff.html").card__content.card__content--next
                    .card__speed.card__speed--brown
                        |50Мбит/с
                    .card__price
                        |350 - 480 Р/мес
                    p.card__text ТВ пакет
                    p.card__text Антивирус
                .card__footer
                    a(href="#").card__link
                        |узнать пОдробнее на сайте www.sknt.ru
            .card
                .card__title
                    |тариф "вода"
                a(href="tariff.html").card__content.card__content--next
                    .card__speed.card__speed--blue
                        |100Мбит/с
                    .card__price
                        |350 - 480 Р/мес
                    p.card__text ТВ пакет
                    p.card__text Антивирус
                .card__footer
                    a(href="#").card__link
                        |узнАть пОдробнее на сайте www.sknt.ru
            .card
                .card__title
                    |тариф "огонь"
                a(href="tariff.html").card__content.card__content--next
                    .card__speed.card__speed--red 
                        |200Мбит/с
                    .card__price
                        |350 - 480 Р/мес
                    p.card__text ТВ пакет
                    p.card__text Антивирус 
                
                
