$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGreen: #82c12b;
$colorGrayLight: #efeff4;
$colorGrayDark: #c8c7cc;
$colorGrayDark2: #a7a7aa;
$colorTetxt: #4d575d;
$colorBrown: #70603e;
$colorBlue: #0075d9;
$colorRed: #e74807;
